<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>侨鑫教育平台</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/alert.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <script type="text/javascript" src="../javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../javascript/alert.min.js"></script>
</head>
<body>
<div class="pagewrap">
    <div class="container-login" style="background-image: url('../images/loginbg.jpg');">
        <div class="wrap-login">
            <div class="login-form-logo"><img src="../images/logo.png"></div>
            <span class="login-form-title">学生教育成长平台</span>
            <form class="login-form">
                <div class="wrap-input">
                    <input id="phonenumber" class="input" type="text" name="phonenumber" placeholder="请输入手机号码" autocomplete="off">
                </div>
                <div id="authcodeDiv">
                    <input id="authcode" type="text" name="authcode" placeholder="请输入验证码" maxlength="6">
                    <input type="button" id="codebtn" value="获取验证码" />
                </div>
                <div class="wrap-radio">
                    <div class="wrap-radios">
                        <input type="radio" name="role" id="teacherRadio" value="2" class="radio" checked /> 教师
                        <input type="radio" name="role" id="parentRadio" value="1" class="radio" /> 家长
                    </div>
                </div>
                <div class="wrap-form-btn">
                    <button id="loginbtn" class="login-form-btn">登 录</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../javascript/login.js"></script>
</body>
</html>