/*//////////////////////////////////////////////////////////////////
[ login ]*/
.pagewrap {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrap-login {
    width: 579px;
    height: 548px;
    background: #fff;
    overflow: hidden;
    filter:alpha(Opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

/*------------------------------------------------------------------
[ Form ]*/

.login-form {
    width: 100%;
}

.login-form-logo{
    width: 100%;
    height: 122px;
    margin: 47px 217px;
    display: block;
}

.login-form-title {
    display: block;
    font-size: 35px;
    color: #004a80;
    text-align: center;
    margin: 44px 149px 10px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input input{
    width: 387px;
    height: 50px;
    line-height: 50px;
    margin:0px 96px 12px;
    border: 1px solid #004a80;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

#authcodeDiv{
    width: 387px;
    height: 50px;
    line-height: 50px;
    float:left;
    margin:0px 96px 12px;
}

#authcode{
    width: 60%;
    height: 100%;
    line-height: 50px;
    border-left: 1px solid #004a80;
    border-top: 1px solid #004a80;
    border-bottom: 1px solid #004a80;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    float: left;
}

#codebtn{
    width: 40%;
    height: 100%;
    line-height: 50px;
    color:#cd8221;
    border-right: 1px solid #004a80;
    border-top: 1px solid #004a80;
    border-bottom: 1px solid #004a80;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    float: left;
}

/*------------------------------------------------------------------
[ redio ]*/
.wrap-radio{
    width:100%;
    height:50px;
}

.wrap-radios{
    width:387px;
    height:100%;
    text-align:center;
    vertical-align:middle;
    margin-left: 96px;
}

.wrap-radios .radio{
    vertical-align: middle;
    width:30px;
    height: 50px;
    line-height: 50px;
}
#teacherRadio {
    margin-left:0%;
    color:#2c3444;
}
#parentRadio {
    margin-left:30%;
}

/*------------------------------------------------------------------
[ Button ]*/
.wrap-form-btn {
    width: 100%;
    height:50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.login-form-btn {
    height:50px;
    width: 387px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    background: #6D93DF;
    margin-top: 55px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    filter:alpha(Opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}

/*------------------------------------------------------------------
[error message]*/
.mobile-err{
    width: 400px;
    height: 130px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: 0;
    border-radius: 90px;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    color:white;
    filter: alpha(opacity:0);
    opacity: 0;

}
.vcode-err{
    width: 400px;
    height: 130px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 200px;
    left: -50px;
    z-index: 0;
    border-radius: 90px;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    color:white;
    filter: alpha(opacity:0);
    opacity: 0;

}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 576px) {
    .wrap-login {
        padding-left: 15px;
        padding-right: 15px;
    }
}